<h1>{{title}}</h1>
<div>
    <form action="register" method="post">
        <label for="username">Username:</label>
        <input type="text" name="username">
        <br>
        <label for="password">Password:</label>
        <input type="password" name="password">
        <br>
        <label for="conf_password">Confirm password:</label>
        <input type="password" name="conf_password">
    </form>
</div>