<h1>{{title}}</h1>
{{#if msg}}
<div id="errorBox">
    <p>{{msg}}</p>
</div>
{{/if}}
<div>
    <form action="register" method="post">
        <label for="username">Username:</label>
        <input type="text" name="username" required>
        <br>
        <label for="password">Password:</label>
        <input type="password" name="password" required>
        <br>
        <label for="conf_password">Confirm password:</label>
        <input type="password" name="conf_password" required>
        <br>
        <input type="submit" value="Register" required>
    </form>
</div>