<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1 style="text-align: center;">{{{title}}}</h1>
    <div id="navbar">
      {{#unless loggedIn}}
      <div>
        <a href="login">Login</a>
      </div>
      <div>
        <a href="register">Register</a>
      </div>
      {{/unless}}
      {{#if loggedIn}}
      <div>
        <a href="/">Home</a>
      </div>
      <div>
        <a href="logout">Logout</a>
      </div>
      {{/if}}
    </div>
    <div id="content" >
      {{{body}}}
    </div>
  </body>

</html>
