<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1 style="text-align: center;">{{{title}}}</h1>
    <div style="padding: 20px; text-align:center; width: 30%;background-color: rgb(197, 196, 196); margin: 0 auto">
      <a href="/logout">Logout</a>
      <br>
      {{{body}}}
    </div>
  </body>

</html>
