{{#unless loggedIn}}
{{#if msg}}
<div id="errorBox">
    <p>{{msg}}</p>
</div>
{{/if}}
<div id="formWrapper">

    <form action="login" method="post">
        <div id="formBlock">
            <label for="username"><span>Username:</span></label>
            <input type="text" name="username" required>
        </div>
        <div id="formBlock">
            <label for="password">Password:</label>
            <input type="password" name="password" required>
        </div>
        <div id="formBlock">
            <input type="submit" value="Login" required>
        </div>
    </form>

</div>
{{else}}
You're already logged in.
{{/unless}}